body{
    display:grid;
    
    background-color: rgb(229, 226, 226);
    text-align:cener;
}

div.intro{
    display: inline-block;
    background-color: white;
    margin-left:150px;
    margin-right:150px;
}

div.media{
    background-color: white;
    margin-left:150px;
    margin-right:150px;
}

h1{
    color: rgb(221, 24, 24);
}